In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('./data/87582_Aerop.csv')
df

           fechas  precip  tmax  tmin
0      1960-01-01   -99.9  23.7  13.1
1      1960-01-02   -99.9  24.5  18.4
2      1960-01-03   -99.9  29.2  21.3
3      1960-01-04   -99.9  31.4  22.3
4      1960-01-05   -99.9  27.3  21.8
...           ...     ...   ...   ...
21302  2018-06-09   -99.9  16.0   9.5
21303  2018-06-10   -99.9  17.6  13.4
21304  2018-06-11   -99.9  16.0  12.5
21305  2018-06-12   -99.9  14.1   7.1
21306  2018-06-13   -99.9 -99.9   7.1

[21307 rows x 4 columns]